@import-normalize;

@import url('https://rsms.me/inter/inter.css');
@import "../../CoreUI/variables.scss";

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  color: $default-text-color;
}

a {
  color: $link-text-color;
}

.checkbox {
  color: #1f2d3d;
  cursor: pointer;
  vertical-align: middle;
  font-size: 16px;
  display: inline-block;
  line-height: 1;

  &:hover {
    .checkbox__inner {
      border-color: #38f;
    }
  }

  &__input {
    cursor: pointer;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  &__original {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      font-size: 0;
      top: 4px;
      left: 3px;
      width: 6px;
      height: 3px;
      background: transparent;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg) scale(0);
      transition: all 0.12s ease-in-out;
    }
  }

  &__text {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
  }

  &--checked {
    .checkbox__inner {
      border-color: #27f;
      background: #38f;
      &::after {
        transform: rotate(-45deg) scale(1);
      }
    }

    .checkbox__original {
      cursor: not-allowed;
    }
  }

  &--disabled {
    cursor: not-allowed;

    .checkbox__inner {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
      cursor: not-allowed;
    }

    .checkbox__text {
      cursor: not-allowed;
    }

    &:hover {
      .checkbox__inner {
        border-color: #e5e5e5 !important;
      }
    }
  }

  &--indeterminate {
    .checkbox__inner {
      border-color: #38f;
      background: #fff;
      &::after {
        top: 6px;
        left: 4px;
        width: 6px;
        height: 2px;
        border: none;
        background: #38f;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }

  &--large {
    font-size: 18px;
    .checkbox__input {
      width: 18px;
      height: 18px;
    }
    .checkbox__inner::after {
      width: 8px;
      height: 4px;
    }
  }

  &--small {
    font-size: 14px;

    .checkbox__input {
      width: 14px;
      height: 14px;
    }

    .checkbox__inner::after {
      top: 3px;
      left: 2px;
    }
  }
}